### Infinity universe

### Un conjunto de datos es una colección estructurada de datos. Los datos incorporan información representada como texto, números o medios como imágenes, archivos de audio o video.

# *Objetivos:*
### Lista populas de lenguajes de programacion
1. sql
2. c++
3. python
4. java

### Some of the commonly used libraries used by Data Scientists include:
 1. sql
 2. java
 3. c++
 4. c
 5. phyton
 6. R

### Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn 
2. TensorFlow
3. Apache Spark
4. Spark
5. Pandas
6. Numpy

| Data Science Tools |
|  ----------------------  |
| 1. MySQL |
| 2. PostgreSQL |
| 3. Apache AirFlow |
| 4. KubeFlow |

In [36]:
# Esta es una simple operacion matematicas 
(3*4)+5

17

In [37]:
## This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Autor.- Alberto Magno Cabadiana